<footer id="footer" class="custom-footer background-color-light m-none">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="#" class="text-decoration-none">
          <img src="assets/img/logo.png" width="100" height="45" class="img-responsive" alt />
        </a>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <h5 class="text-color-dark font-weight-bold mb-xs">Customer Services</h5>
        <ul>
          <li>
            <a class="custom-text-color-1" href="tel:+8001234567" target="_blank" title="Call Us">
              800 123 4567
            </a>
          </li>
          <li>
            <a class="custom-text-color-1" href="demo-finance-contact-us.html" title="Contact Us">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <h5 class="text-color-dark font-weight-bold mb-xs">Company</h5>
        <ul>
          <li>
            <a class="custom-text-color-1" href="demo-finance-company.html" title="About Us">
              About Us
            </a>
          </li>
          <li>
            <a class="custom-text-color-1" href="demo-finance-team.html" title="Team">
              Team
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="text-color-dark font-weight-bold mb-xs">Policies</h5>
        <ul>
          <li>
            <a class="custom-text-color-1" href="#" title="Privacy policy">
              Privacy policy
            </a>
          </li>
          <li>
            <a class="custom-text-color-1" href="#" title="Terms of Use">
              Terms of Use
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="social-icons custom-social-icons">
          <li class="social-icons-facebook">
            <a href="http://www.facebook.com/" target="_blank" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="social-icons-twitter">
            <a href="http://www.twitter.com/" target="_blank" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="social-icons-instagram">
            <a href="http://www.instagram.com/" target="_blank" title="Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright background-color-light m-none pt-md pb-md">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center pt-md">
          <p class="custom-text-color-1">© Copyright 2017. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>